<div class="container">
  <div>
    <h4>
      {{title + ' ' + 'Assignment'}}
    </h4>
  </div>
 <div class="cards">
  <div *ngFor="let planet of data" class="card">
    <h1 class="card-title">
      <img class="icon" src="../assets/image/planet.svg" alt="" />
      {{ planet.name }}
    </h1>
    <p class="card-text">Population: {{ planet.population }}</p>
    <p class="card-text">Climate: {{ planet.climate }}</p>
    <p class="card-text">Terrain: {{ planet.terrain }}</p>
    <span class="residents">Residents</span>
    <div *ngFor="let resident of planet.residentData">
      <div class="residentInfo">
        <p class="card-resident-title">{{ resident.name }}</p>
        <div>
          <span>
            <p>Mass</p>
            <p class="card-text">{{ resident.mass }}</p>
          </span>
          <span>
            <p>Height</p>
            <p class="card-text">{{ resident.height }}</p>
          </span>
          <span>
            <p>Gender</p>
            <p class="card-text">{{ resident.gender }}</p>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="planet.residents.length === 0">
      <p class="noResidents">No residents</p>
    </div>
  </div>
 </div>
 <div class="pagination">
  <button (click)="loadNext('prev')">Prev</button>
  <button (click)="loadNext(page)">{{page}}</button>
  <button (click)="loadNext(page + 1)">{{page + 1}}</button>
  <button (click)="loadNext(page + 2)">{{page + 2}}</button>
  <button (click)="loadNext(page + 3)">{{page + 3}}</button>
  <button (click)="loadNext(page + 4)">{{page + 4}}</button>
  <button (click)="loadNext('next')">Next</button>
</div>
</div>
